---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Sebastian Castañeda">
	<div class="app">
		<Navbar />
		<main>
			<h2>Sebastian Castañeda</h2>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil fuga et natus, minus recusandae repudiandae, asperiores unde iure iste voluptatem qui est soluta? Facere fugiat illum fugit aliquam corrupti numquam!</p>
		</main>
	</div>
</Layout>

<style>
	.app {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	main {
		padding: 5rem 4rem 0 4rem;
		width: 800px;
		color: white;
	}

	h2 {
		font-family: 'Noto Serif Display Variable', serif;
		font-size: 3rem;
		font-weight: bold;
	}

	.logo {
		width: 200px;
		height: 200px;
		border-radius: 1rem;
	}
</style>
